
<html lang="en">
        
          <head>
            
            <!-- Meta Tag -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            
            <!-- SEO -->
            <meta name="description" content="150 words">
            <meta name="author" content="uipasta">
            <meta name="url" content="http://www.yourdomainname.com">
            <meta name="copyright" content="company name">
            <meta name="robots" content="index,follow">
            
            
            <title>Knight Riders</title>
            
            <!-- Favicon -->
            <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='css/images/favicon/favicon.ico') }}"}>
            <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="{{ url_for('static', filename='css/images/favicon/apple-touch-icon.png') }}">
            
             <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plugin.css') }}">
            
            Main CSS Stylesheet -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
            
            <!-- Google Web Fonts  -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700"> 
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_style.css') }}">
            
            
            <!-- HTML5 shiv and Respond.js support IE8 or Older for HTML5 elements and media queries -->
            <!--[if lt IE 9]>
               <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
               <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
            
            
        
          </head>

<body>          

<form action="/interest" method="post">
<div class="container2" align="left">

<label>Interest 1</label>
<input type="text" name="interest1" placeholder="Interest" required>
<label>Interest 2</label>
<input type="text" name="interest2" placeholder="Interest" required>
<label>Interest 3</label>
<input type="text" name="interest3" placeholder="Interest" required>

<input type="submit" value="Submit" style="background-color:grey">
</div>
</form>

</body>